<div class="row p-2">
  <h1 class="text-white pb-4">Choose your <br> payments plan</h1>
  
  <div class="d-flex align-items-center">
    <img src="assets/icons/check.svg" alt="Check Icon" class="icon mr-2 mb-2">
    <p class="text-white pr-2 mt-1">0% interest</p>
  </div>

  <div class="d-flex align-items-center">
    <img src="assets/icons/check.svg" alt="Check Icon" class="icon mr-2 mb-2">
    <p class="text-white pl-2 mt-1">100% Sharia-compliant</p>
  </div>

</div>

<div class="web tex-left p-2 w-100 d-none d-md-block">
  <h5 class="text-white">Order Details</h5>
  <div class="d-flex justify-content-between w-100">
    <p class="text-white">Basic Soft Denim Shorts, x1</p>
    <p class="text-white">KD 15.200</p>
  </div>

  <div class="d-flex justify-content-between w-100">
    <p class="text-white">Floral Print Shirt, x1</p>
    <p class="text-white">KD 15.200</p>
  </div>

  <div class="d-flex justify-content-between w-100">
    <p class="text-white">Crochet texttured shirt, x1</p>
    <p class="text-white">KD 15.200</p>
  </div>

  <br>

  <div class="d-flex justify-content-between w-100">
    <p class="text-white"><strong>Sub-Total</strong></p>
    <p class="text-white"><strong>KD 15.200</strong></p>
  </div>

  <div class="d-flex justify-content-between w-100">
    <p class="text-white"><strong>Shipping</strong></p>
    <p class="text-white"><strong>KD 15.200</strong></p>
  </div>

  <div class="d-flex justify-content-between w-100">
    <p class="text-white"><strong>Shipping Discount</strong></p>
    <p class="text-white"><strong>KD 15.200</strong></p>
  </div>

  <img src="assets/icons/details.png" alt="Taly | Purchase Order Details">
</div>